@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
.cc {
    overflow: hidden;
    height: var(--window-height);
    background-color: var(--data-color-bg-load);
    width: var(--window-width-5);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#cp1 {
    z-index: 100;
    font-size: var(--data-string-char-size);
    display: flex;
    width: var(--window-width);
    height: var(--window-height);
    flex-direction: row;
    position: absolute;
    top:0;
    left:0;
    color: var(--data-color-text-load);
}
#pppcc3 {
    text-align: center;
    margin-top: var(--window-height-2);
}
@keyframes ccA {
    from {
        height:var(--window-height);
    }
    to {
        height:0;
    }
}
body {
    box-sizing: border-box;
    background-attachment: fixed;
    background-image: url('../images/bublesPATERN_ORANGE.png');
    background-size:50%;
    background-repeat: repeat-y;
    background-position-x: 100%;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family:Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif
}
#container {
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
}
#cont {
    min-height: var(--data-size-cont-height);
    width: var(--window-width);

    background-color: white;
}
header {
    width: var(--window-width);
    height: var(--data-size-header-height);
    

    
    overflow: hidden;


    z-index: 6;
}
#title {
    width: var(--window-width);
    height:50px;
    position: absolute;
    top: var(--data-size-header-line);
    left:0;
    color: var(--data-color-string-title);
    font-size: var(--data-string-char-titleSize);
    text-align: center;
}
.g {
    background-color: rgb(190, 190, 190);
}
.w {
    background-color: white;
}
.o {
    background-color: var(--data-color-bg-load);
}
.box {
    width: var(--window-width);

    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:720px) {
    #cc3 {
        font-size: var(--data-string-char-size2)
    }
}