@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
.cc {
    height: var(--window-height);
    background-color: var(--data-color-bg-load);
    width: var(--window-width-5);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
#cp1 {
    font-size: var(--data-string-char-size);
    display: flex;
    width: var(--window-width);
    height: var(--window-height);
    flex-direction: row;
    position: absolute;
    top:0;
    left:0;
    color: var(--data-color-text-load);
}
#pppcc3 {
    text-align: center;
    margin-top: var(--window-height-2);
}
@keyframes ccA {
    from {
        height:var(--window-height);
    }
    to {
        height:0;
    }
}
body {
    font-family: 'Montserrat', sans-serif;
}