@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
.cc {
    height: var(--window-height);
    background-color: var(--data-color-bg-load);
    width: var(--window-width-5);
}
#cp1 {
    font-size: var(--data-string-char-size);
    display: flex;
    width: var(--window-width);
    height: var(--window-height);
    flex-direction: row;
    position: absolute;
    top:0;
    left:0;
}
#thum {
    display: block;
    height: var(--data-string-char-size);
    width:2px;
    background-color: var(--data-color-bg-thum);
    animation-name: thumA;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
    top:-31px;
    
}
@keyframes thumA {
    0%, 50% {
        visibility: visible;
    }   
    50.01%, 100% {
        visibility: hidden;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
}